<!DOCTYPE html>
<html>
  <% include inc/header.ejs %>
  <body>
    <h1><%= title %></h1>
    <% include inc/nav.ejs %>
    <% if (error) { %>
    <div class='error'>
      <%= error %>
    </div>
    <% } %>
    <ul>
      <% articles.forEach(function (article) { %>
          <li><a href="/edit/<%= article.id %>"><%= article.id %>: <%= article.title %></a></li>
      <% }); %>
    </ul>
  </body>
</html>
