<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% if (error) { %>
    <div class='error'>
      <%= error %>
    </div>
    <% } %>
    <ul>
      <% articles.forEach(function (article) { %>
          <li><a href="/edit/<%= article.id %>"><%= article.id %>: <%= article.title %></a></li>
      <% }); %>
    </ul>
  </body>
</html>
